/* External CSS */
/* Global Comment */
body {
   background-color: powderblue;
    }
h2 {
  color: purple;
     }
h3 {
  color: royalblue;
     }
p {
  color: brown;
    }
ul {
  color: brown;
    }
