/*External CSS */
body {
  background-color:lightblue;
}
/*  this is a css comment */
h1 {
  fony-family: fantasy;
}

h2 {
  font-family: style-script;
}
h3

media <meta name="viewport" content="width=device-width, initial-scale=1" />